@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@font-face {
  font-family: 'Aileron-Bold';
  src: url("../fonts/aileron/Aileron-Bold.eot");
  src: url("../fonts/aileron/Aileron-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/aileron/Aileron-Bold.svg#Aileron-Bold") format("svg"), url("../fonts/aileron/Aileron-Bold.ttf") format("truetype"), url("../fonts/aileron/Aileron-Bold.woff") format("woff"), url("../fonts/aileron/Aileron-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5.5%;
    padding-right: 5.5%;
  }
}

.login-container {
  background-image: url(../img/login-bg-sm.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 0.75rem;
}

.top-logos img:first-of-type {
  width: 48%;
  max-width: 180px;
}

.top-logos img:last-of-type {
  width: 32%;
  max-width: 117px;
}

.powered-by > div {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #2d4056;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  max-width: 168px;
  margin-top: 1rem;
  line-height: initial;
}

.powered-by > div span {
  opacity: 0.5;
}

.powered-by > div img {
  width: 100%;
}

.login-form {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  border-radius: 12px;
  -webkit-box-shadow: 0 6px 12px 2px rgba(186, 201, 209, 0.1);
          box-shadow: 0 6px 12px 2px rgba(186, 201, 209, 0.1);
  background-color: #ffffff;
  padding: 30px 15px;
  max-width: 450px;
}

.login-form h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.29;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Aileron-Bold';
}

.login-form .form-control {
  padding: 10px 18px;
}

.login-form .forgot-password {
  color: #212529;
}

.login-form .password-container {
  position: relative;
}

.login-form .password-container #show-password {
  position: absolute;
  height: 18px;
  top: calc(50% - 9px);
  right: 15px;
}

.login-form .password-container #show-password:hover {
  cursor: pointer;
}

.login-form button {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 500;
  padding: 10px 0;
}

@media (min-width: 425px) {
  .login-container {
    padding: 40px;
  }
  .login-form {
    padding: 45px 25px;
    margin: auto;
  }
}

@media (min-width: 500px) {
  .login-form {
    padding: 50px 30px;
    max-width: 450px;
  }
  .login-form h2 {
    font-size: 32px;
    margin-bottom: 35px;
  }
  .login-form .form-control {
    padding: 12px 21px;
  }
  .login-form button {
    margin-top: 35px;
    padding: 12px 0;
  }
  .login-form .password-container #show-password {
    right: 18px;
  }
}

@media (min-width: 767px) {
  .top-logos {
    margin-bottom: 3rem;
  }
  .login-form {
    padding: 60px 35px;
    max-width: 500px;
  }
  .powered-by > div {
    margin-top: 3rem;
  }
}

@media (min-width: 991px) {
  .login-form {
    padding: 82px 66px;
    max-width: 514px;
    width: 100%;
  }
  .login-form h2 {
    margin-bottom: 46px;
  }
  .login-form .form-control {
    padding: 15px 25px;
  }
  .login-form button {
    margin-top: 46px;
    padding: 15px 0;
    margin-bottom: 18px;
    font-size: 17px;
  }
  .login-container {
    padding: 40px;
  }
  .top-logos {
    margin-top: 0;
  }
}

@media (min-width: 1024px) and (min-height: 900px) {
  .login-container {
    padding: 60px;
    background-image: url(../img/login-bg-lg.jpg);
  }
  .top-logos img:first-of-type {
    max-width: 215px;
  }
  .top-logos img:last-of-type {
    max-width: 135px;
  }
  .powered-by > div {
    max-width: 210px;
    font-size: 15px;
  }
}

@media (min-width: 1400px) {
  .login-container {
    padding: 80px;
  }
  .login-form .form-control {
    padding: 15px 28px;
  }
  .top-logos img:first-of-type {
    max-width: 241px;
  }
  .top-logos img:last-of-type {
    max-width: 159px;
  }
  .powered-by > div {
    max-width: 226px;
  }
}

/* Start Header & Tradition */
header.main {
  padding: 16px 0 15px 0;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

header.main .logo {
  width: 125px;
}

header.main .logo img {
  width: 100%;
}

header.main .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.main .profile img {
  width: 31px;
  height: 31px;
}

header.main .profile .profile-info {
  margin-left: 7px;
  position: relative;
  padding-right: 20px;
}

header.main .profile .profile-info .name {
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
  line-height: normal;
  margin-bottom: 2px;
}

header.main .profile .profile-info .job-position {
  font-size: 10px;
  color: #298acf;
  line-height: normal;
}

header.main .profile .profile-info:after {
  position: absolute;
  content: "";
  top: 5px;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #202020 transparent transparent transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tradition {
  background-image: url(../img/tradition-bg.svg);
  background-position: center;
  background-size: cover;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
}

.tradition img {
  width: 120px;
  margin-bottom: 10px;
}

.tradition .title {
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
  opacity: 0.7;
  font-weight: 500;
  font-size: 14px;
}

@media (min-width: 768px) {
  header.main {
    padding: 23px 0 21px 0;
  }
  header.main .logo {
    width: 178px;
  }
  header.main .profile .profile-info {
    margin-left: 10px;
  }
  header.main .profile .profile-info .name {
    font-size: 14px;
  }
  .tradition img {
    width: 150px;
  }
  .tradition .title {
    font-size: 16px;
  }
}

/* End Header & Tradition */
/* Start Select Container */
.custom-select-2,
.custom-select-2-full {
  position: relative;
  font-family: Roboto;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}

.custom-select-2 select,
.custom-select-2-full select {
  display: none;
}

.select-selected {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.54);
  padding: 6px 20px;
  border: 1px solid #aec3d0;
  border-radius: 3px;
  height: 36px;
  cursor: pointer;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #202020 transparent transparent transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.select-selected.select-arrow-active {
  background-color: #298acf;
  color: #fff;
  font-weight: 500;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 8px;
}

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  margin-top: 2px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #cde4f0;
  background-color: white;
}

.select-items div {
  color: #ffffff;
  padding: 8px 20px;
  background-color: transparent;
  font-family: "Roboto";
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

.select-items div:hover {
  background-color: #298acf;
  color: white;
  font-weight: 500;
}

.select-items div:first-of-type {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.select-items div:last-of-type {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.select-hide {
  display: none;
}

.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-container {
  padding: 20px 0;
}

.select-container .custom-select-2:not(:last-of-type),
.select-container .custom-select-2-full:not(:last-of-type) {
  margin-bottom: 5px;
}

.select-container .contact-btn {
  margin-top: 10px;
}

.contact-btn {
  padding: 7px 10px;
  text-align: center;
  border: 1px solid #298acf;
  background-color: white;
  color: #298acf;
  border-radius: 3px;
  width: 100%;
  font-weight: 500;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  height: 36px;
  font-size: 14px;
}

.contact-btn.flexible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-btn svg {
  margin-right: 3px;
  width: 20px;
  height: 20px;
}

.contact-btn svg path {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.contact-btn.full {
  background-color: #298acf;
  color: white;
}

.contact-btn.full:hover {
  background-color: transparent;
  color: #298acf;
}

.contact-btn.full:hover svg path {
  fill: #298acf;
}

.contact-btn:hover {
  color: white;
  background-color: #298acf;
  cursor: pointer;
}

.contact-btn:focus {
  outline: none;
}

@media (min-width: 425px) {
  .select-container .selects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .select-container .custom-select-2 {
    width: 50%;
  }
  .select-container .custom-select-2:nth-child(1) .select-selected, .select-container .custom-select-2:nth-child(3) .select-selected {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
  }
  .select-container .custom-select-2:nth-child(2) .select-selected, .select-container .custom-select-2:nth-child(4) .select-selected {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .select-container .custom-select-2:nth-child(5) {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .select-container .custom-select-2 {
    width: 33.33%;
  }
  .select-container .custom-select-2:nth-child(2) .select-selected {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .select-container .custom-select-2:nth-child(3) .select-selected {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #aec3d0;
  }
  .select-container .custom-select-2:nth-child(4) .select-selected {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .select-container .custom-select-2:nth-child(5) {
    width: 33.33%;
  }
  .select-container .custom-select-2:nth-child(5) .select-selected {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .select-container .contact-btn {
    width: 172px;
    margin-left: auto;
  }
  .select-container .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .select-container .selects {
    width: 75%;
    max-width: calc(210px * 5);
  }
  .select-container .custom-select-2 {
    width: calc(100% / 5);
    max-width: 209px;
    margin-bottom: 0;
  }
  .select-container .custom-select-2:nth-child(4) .select-selected {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .select-container .custom-select-2:nth-child(5) {
    width: calc(100% / 5);
  }
}

@media (min-width: 1200px) {
  .select-container .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .select-container .contact-btn {
    margin-top: 0;
  }
}

/* End Select Container */
/* Start Tabs Container */
.tabs-container .nav-tabs {
  border-bottom: unset;
}

.tabs-container .nav-tabs .nav-link {
  border-color: transparent;
  border-bottom-color: #cde4f0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
  padding: 16px 0;
  width: 50%;
  margin-bottom: 1px;
}

.tabs-container .nav-tabs .nav-link.active {
  border-bottom: 2px solid #298acf;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
}

.tabs-container .breadcrumbs {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 5px;
}

.tabs-container .breadcrumbs a {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
}

.tabs-container .breadcrumbs a:not(:last-of-type) {
  margin-right: 5px;
}

.tabs-container .breadcrumbs a:last-of-type {
  margin-left: 5px;
}

.tabs-container .tab-content {
  padding: 40px 0;
}

.tabs-container .tab-content .title {
  text-align: center;
}

.tabs-container .tab-content h2 {
  font-family: Roboto;
  font-size: 34px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.tabs-container .tab-content .buttons a:hover {
  text-decoration: none;
}

.tabs-container .tab-content .buttons svg:hover path:first-of-type {
  fill: #18517a;
}

.tabs-container .tab-content .table .thead-light th {
  background-color: #eef6fc;
  border-color: #cde4f0;
}

.tabs-container .tab-content .table td, .tabs-container .tab-content .table th {
  border-top: 1px solid #cde4f0;
}

.tabs-container .tab-content .table thead {
  border: 1px solid #cde4f0;
}

.tabs-container .tab-content .table tbody {
  border: 1px solid #cde4f0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tabs-container .table-items {
  border-top: 1px solid #cde4f0;
  margin-top: 20px;
  padding: 24px 0;
}

.tabs-container .table-items .form-control {
  height: 36px;
  border-color: #aec3d0;
}

.tabs-container .table-items .form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  background-color: #eef6fc;
}

.tabs-container .table-items .table-item {
  margin-bottom: 10px;
}

.tabs-container .table-items .table-item .input-group-append {
  width: 36px;
  background-color: #298acf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  outline: none;
}

.tabs-container .table-items .table-item .input-group-append:hover {
  cursor: pointer;
}

.tabs-container .table-items .table-item .input-group-append svg {
  width: 17px;
  height: 17px;
}

.tabs-container .table-items .table-item .title {
  font-family: "Roboto";
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2d4056;
}

@media (min-width: 768px) {
  .tabs-container .nav-tabs .nav-link {
    width: 25%;
  }
  .tabs-container .tab-content .title {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs-container .table-items {
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tabs-container .table-items .table-item {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tabs-container .table-items .table-item .title {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .tabs-container .table-items .custom-select-2-full,
  .tabs-container .table-items input.form-control {
    width: 180px;
  }
  .tabs-container .table-items.th-3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs-container .table-items.th-3 .table-item:nth-of-type(1), .tabs-container .table-items.th-3 .table-item:nth-of-type(2) {
    margin-bottom: 15px;
  }
  .tabs-container .table-items.th-3 .table-item,
  .tabs-container .table-items.th-3 .btn-container {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .tabs-container .nav-tabs {
    border-bottom: 1px solid #cde4f0;
  }
  .tabs-container .nav-tabs .nav-link {
    width: unset;
    margin-bottom: 0;
    border-bottom: 0;
  }
  .tabs-container .nav-tabs .nav-link:not(:last-of-type) {
    margin-right: 27px;
  }
  .tabs-container .table-items .table-item {
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tabs-container .table-items .table-item .title {
    margin-right: 15px;
  }
  .tabs-container .table-items .contact-btn {
    width: 172px;
    margin-left: auto;
  }
  .tabs-container .table-items .custom-select-2-full,
  .tabs-container .table-items input.form-control {
    width: 220px;
  }
}

@media (min-width: 1200px) {
  .tabs-container .nav-tabs .nav-link:not(:last-of-type) {
    margin-right: 56px;
  }
  .tabs-container .tab-content {
    padding: 45px 0;
  }
  .tabs-container .table-items .table-item {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .tabs-container .table-items .table-item .title {
    margin-right: 16px;
  }
  .tabs-container .table-items .table-item:first-of-type {
    margin-right: 40px;
  }
  .tabs-container .table-items .btn-container {
    margin-left: auto;
  }
  .tabs-container .table-items .custom-select-2-full,
  .tabs-container .table-items input.form-control {
    width: 246px;
  }
  .tabs-container .table-items.th-3 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tabs-container .table-items.th-3 .table-item:nth-of-type(1), .tabs-container .table-items.th-3 .table-item:nth-of-type(2) {
    margin-bottom: 0;
  }
  .tabs-container .table-items.th-3 .table-item:first-of-type, .tabs-container .table-items.th-3 .table-item:not(:last-of-type) {
    margin-right: 20px;
  }
  .tabs-container .table-items.th-3 .table-item,
  .tabs-container .table-items.th-3 .btn-container {
    width: unset;
  }
  .tabs-container .table-items.th-3 .custom-select-2-full {
    width: 165px;
  }
  .table-responsive {
    overflow-x: hidden;
  }
}

@media (min-width: 1440px) {
  .tabs-container .table-items.th-3 .custom-select-2-full {
    width: 246px;
  }
}

@media (min-width: 1600px) {
  .tabs-container .table-items.th-3 .table-item:first-of-type, .tabs-container .table-items.th-3 .table-item:not(:last-of-type) {
    margin-right: 40px;
  }
}

.datepicker-container {
  position: relative;
}

.datepicker {
  font-family: "Roboto", sans-serif;
}

.datepicker td, .datepicker th {
  width: 2.25rem;
  height: 1.75rem;
  font-size: 0.85rem;
  line-height: 1.57;
}

.datepicker .today {
  color: #298acf;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
}

.datepicker table tr td.active.active {
  border-radius: 2px;
  background-color: #298acf;
  color: white;
  background-image: unset;
}

.datepicker > svg {
  position: absolute;
  right: 1rem;
  width: 14px;
  height: 16px;
  top: calc((36px - 14px) / 2);
}

/* End Tabs Container */
/* Start Dashboard Footer */
.dashboard-footer {
  background-color: #f6f8f9;
  padding: 18px 0 12px 0;
}

.dashboard-footer .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-footer .powered-by {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard-footer .powered-by > div {
  margin-top: 0;
}

.dashboard-footer .copyright {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1rem;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .dashboard-footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dashboard-footer .powered-by {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .dashboard-footer .powered-by > div {
    width: 136px;
  }
  .dashboard-footer .copyright {
    margin-top: 0;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

td.details-control {
  cursor: pointer;
}

td.details-control:after {
  content: '+';
  margin: auto;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 3px;
  border: solid 1px #979797;
  color: #1fabe1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

tr.shown td.details-control:after {
  content: '-';
  margin: auto;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 3px;
  border: solid 1px #979797;
  color: #1fabe1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dataTable {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: solid 1px #cde4f0;
  border-bottom-color: #cde4f0 !important;
  font-size: 12px;
  font-family: "Roboto";
  margin: 0;
}

.dataTable thead th {
  background-color: #eef6fc;
  border-color: #cde4f0;
  border-top: none;
}

.dataTable td, .dataTable th {
  border-top: 1px solid #cde4f0;
}

.dataTable thead {
  border: 1px solid #cde4f0;
}

.dataTable tbody {
  border: 1px solid #cde4f0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dataTable tbody tr.odd {
  background-color: #fff !important;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #cde4f0;
}

.trade-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trade-status .status {
  padding: 4px;
  border-radius: 100%;
  background-color: #c8c8c8;
  display: inline-block;
  margin-right: 8px;
}

.trade-status .status.confirmed {
  background-color: #31cc7d;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dataTables_wrapper .dataTables_paginate .paginate_button img {
  width: 20px;
  height: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: unset;
  border: unset;
  background: unset;
}

.page-link {
  width: 20px;
  height: 20px;
  padding: 0;
  width: 100%;
  margin: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.page-item.active .page-link {
  color: rgba(0, 0, 0, 0.87);
  border: none;
  background-color: unset;
}

.dataTables_paginate {
  margin: 0;
  padding-top: 0 !important;
}

.dataTables_paginate .pagination {
  margin-bottom: 0;
}

.expand-all {
  padding: 5px 8px 5px 30px;
  border-radius: 1px;
  border: solid 1px rgba(205, 228, 240, 0.6);
  font-family: Roboto;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
}

.expand-all .custom-control-label:before, .expand-all .custom-control-label:after {
  left: 0.5rem;
}

.dataTables_filter {
  display: none;
}

.dataTables_wrapper .dataTables_info {
  padding-top: 0;
}

.dataTables_wrapper .row:last-of-type {
  margin: 0;
  padding: 10px 2rem 13px 2rem;
  border: solid 1px #cde4f0;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dataTables_wrapper .row:last-of-type select {
  width: 47px;
  height: 20px;
  padding: 0 0.25rem;
  border-radius: 0;
  border: solid 1px #cde4f0;
}

.dataTables_wrapper .row:last-of-type select, .dataTables_wrapper .row:last-of-type .pages {
  margin-left: 16px;
}

.dataTables_wrapper .row:last-of-type > div:first-of-type {
  width: 150px;
}

.dataTables_wrapper .row:last-of-type > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 600px !important;
}

.dataTables_wrapper .pages {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.87);
}

/* End Dashboard Footer */
.red {
  color: #e33232;
}

form .form-group {
  margin-bottom: 1.5rem;
}

form .form-check-inline {
  margin-right: 47px;
}

form .form-check-inline label {
  font-size: 16px;
}

form .form-check-inline .form-check-input {
  margin-right: 10px;
}

form .thin-font {
  padding-left: 26px;
}

form .thin-font label {
  font-weight: normal;
  font-size: 16px;
}

form label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 0.75rem;
}

form input.form-control {
  padding: 12px 20px 13px 20px;
  font-size: 14px;
}

form select.form-control {
  height: 48px !important;
  padding: .375rem 1.25rem;
  -webkit-appearance: none;
  background: url(/img/select-arrow.svg) no-repeat calc(100% - 20px);
}

form .button-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form .button-container button {
  width: 48%;
}

.manage-traider .traider-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.manage-traider .btn-container {
  margin: 0.75rem 0 1.25rem 0;
}

@media (min-width: 768px) {
  .manage-traider form > div:first-of-type .form-group:last-of-type {
    margin-bottom: 0;
  }
  .manage-traider form .button-container {
    height: 68px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .manage-traider .traider-form {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
  .manage-traider .btn-container {
    margin: 0 0 0 auto;
    max-width: 173px;
  }
}

@media (min-width: 1200px) {
  .manage-traider form .button-container {
    height: 53px;
  }
}
/*# sourceMappingURL=style.css.map */