@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@font-face {
    font-family: 'Aileron-Bold';
    src: url('../fonts/aileron/Aileron-Bold.eot');
    src: url('../fonts/aileron/Aileron-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aileron/Aileron-Bold.svg#Aileron-Bold') format('svg'),
         url('../fonts/aileron/Aileron-Bold.ttf') format('truetype'),
         url('../fonts/aileron/Aileron-Bold.woff') format('woff'),
         url('../fonts/aileron/Aileron-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

$blue: #298acf;
$light-blue: #eef6fc;

body.dashboard {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5.5%;
        padding-right: 5.5%;
    }
}
  

.login-container {
    background-image: url(../img/login-bg-sm.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-logos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 0.75rem;

    img {
        &:first-of-type {
            width: 48%;
            // max-width: 241px;
            max-width: 180px;
        }

        &:last-of-type {
            width: 32%;
            // max-width: 159px;
            max-width: 117px;
        }
    }
}

.powered-by > div {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #2d4056;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    // max-width: 226px;
    max-width: 168px;
    margin-top: 1rem;
    line-height: initial;

    span {
        opacity: 0.5;
    }

    img {
        width: 100%;
    }
}

.login-form {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    border-radius: 12px;
    box-shadow: 0 6px 12px 2px rgba(186, 201, 209, 0.1);
    background-color: #ffffff;
    padding: 30px 15px;
    max-width: 450px;

    h2 {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.29;
        text-align: center;
        margin-bottom: 30px;
        font-family: 'Aileron-Bold';
    }

    .form-control {
        padding: 10px 18px;
    }

    .forgot-password {
        color: #212529;
    }

    .password-container {
        position: relative;

        #show-password {
            position: absolute;
            height: 18px;
            top: calc(50% - 9px);
            right: 15px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    button {
        margin-top: 30px;
        margin-bottom: 15px;
        font-weight: 500;
        padding: 10px 0;
    }
}

@media (min-width: 425px) {
    .login-container {
        padding: 40px;
    }
    .login-form {
        padding: 45px 25px;
        margin: auto;
    }
}

@media (min-width: 500px) {
    .login-form {
        padding: 50px 30px;
        max-width: 450px;
    
        h2 {
            font-size: 32px;
            margin-bottom: 35px;
        }

        .form-control {
            padding: 12px 21px;
        }

        button {
            margin-top: 35px;
            padding: 12px 0;
        }

        .password-container {    
            #show-password {
                right: 18px;
            }
        }
    }
}

@media (min-width: 767px) {
    .top-logos {
        margin-bottom: 3rem;
    }
    .login-form {
        padding: 60px 35px;
        max-width: 500px;
    }
    .powered-by > div {
        margin-top: 3rem;
    }
}

@media (min-width: 991px) {
    .login-form {
        padding: 82px 66px;
        max-width: 514px;
        width: 100%;
    
        h2 {
            margin-bottom: 46px;
        }
    
        .form-control {
            padding: 15px 25px;
        }
        
        button {
            margin-top: 46px;
            padding: 15px 0;
            margin-bottom: 18px;
            font-size: 17px;
        }
    }
    .login-container {
        padding: 40px;
    }
    .top-logos {
        margin-top: 0;
    }
}

@media (min-width: 1024px) and (min-height: 900px) { 
    .login-container {
        padding: 60px;
        background-image: url(../img/login-bg-lg.jpg);
    }
    
    .top-logos {
        img {
            &:first-of-type {
                max-width: 215px;
            }

            &:last-of-type {
                max-width: 135px;
            }
        }
    }

    .powered-by > div {
        max-width: 210px;
        font-size: 15px;
    }
}

@media (min-width: 1400px) { 
    .login-container {
        padding: 80px;
    }

    .login-form {
        .form-control {
            padding: 15px 28px;
        }
    }
    
    .top-logos {
        img {
            &:first-of-type {
                max-width: 241px;
            }

            &:last-of-type {
                max-width: 159px;
            }
        }
    }

    .powered-by > div {
        max-width: 226px;
    }
}

/* Start Header & Tradition */

header.main {
    padding: 16px 0 15px 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;

    .logo {
        width: 125px;

        img {
            width: 100%;
        }
    }

    .profile {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 31px;
            height: 31px;
        }
        .profile-info {
            margin-left: 7px;
            position: relative;
            padding-right: 20px;

            .name {
                color: rgba(0, 0, 0, 0.87);
                font-size: 12px;
                line-height: normal;
                margin-bottom: 2px;
            }
            .job-position {
                font-size: 10px;
                color: $blue;
                line-height: normal;
            }

            &:after {
                position: absolute;
                content: "";
                top: 5px;
                right: 0;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-color: #202020 transparent transparent transparent;
                transition: all 0.3s ease;
            }
        }
    }
}

.tradition {
    background-image: url(../img/tradition-bg.svg);
    background-position: center;
    background-size: cover;
    padding: 20px 0;
    font-family: 'Roboto', sans-serif;

    img {
        width: 120px;
        margin-bottom: 10px;
    }

    .title {
        line-height: normal;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87);
        opacity: 0.7;
        font-weight: 500;
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    header.main {
        padding: 23px 0 21px 0;

        .logo {
            width: 178px;
        }

        .profile {           
            .profile-info {
                margin-left: 10px;

                .name {
                    font-size: 14px;
                }
            }
        }
    }
    .tradition {

        img {
            width: 150px;
        }

        .title {
            font-size: 16px;
        }
    }
}

/* End Header & Tradition */

/* Start Select Container */

.custom-select-2,
.custom-select-2-full {
    position: relative;
    font-family: Roboto;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    
	select {
		display: none;
	}
}
.select-selected {
	background-color: transparent;
	color: rgba(0, 0, 0, 0.54);
	padding: 6px 20px;
    border: 1px solid #aec3d0;
    border-radius: 3px;
    height: 36px;
    cursor: pointer;
    
	&:after {
		position: absolute;
		content: "";
		top: 15px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
        border-color: #202020 transparent transparent transparent;
        transition: all 0.3s ease;
	}
}
.select-selected.select-arrow-active {
    background-color: $blue;
    color: #fff;
    font-weight: 500;
	&:after {
		border-color: transparent transparent #fff transparent;
		top: 8px;
	}
}
.select-items {
	div {
		color: #ffffff;
		padding: 8px 20px;
		background-color: transparent;
        font-family: "Roboto";
        color: #000;
        font-size: 14px;
		cursor: pointer;
		&:hover {
            background-color: $blue;
            color: white;
            font-weight: 500;
        }
        
        &:first-of-type {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        &:last-of-type {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }
	}
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
    z-index: 99;
    margin-top: 2px;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #cde4f0;
    background-color: white;
}
.select-hide {
	display: none;
}
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.select-container {
    padding: 20px 0;

    .custom-select-2,
    .custom-select-2-full {
        &:not(:last-of-type) {
            margin-bottom: 5px;
        }
    }

    .contact-btn {
        margin-top: 10px;
    }
}

.contact-btn {
    padding: 7px 10px;
    text-align: center;
    border: 1px solid $blue;
    background-color: white;
    color: $blue;
    border-radius: 3px;
    width: 100%;
    font-weight: 500;
    transition: .3s ease;
    height: 36px;
    font-size: 14px;

    &.flexible {
        display: flex;
        justify-content: center;
    }

    svg {
        margin-right: 3px;
        width: 20px;
        height: 20px;
        path {
            transition: .3s ease;
        }
    }
    
    &.full {
        background-color: $blue;
        color: white;

        &:hover {
            background-color: transparent;
            color: $blue;

            svg {
                path {
                    fill: $blue;
                }
            }
        }
    }

    &:hover {
        color: white;
        background-color: $blue;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

@media (min-width: 425px) {
    .select-container {
        .selects {
            display: flex;
            flex-wrap: wrap;
        }
        .custom-select-2 {
            width: 50%;

            &:nth-child(1),
            &:nth-child(3) {
                .select-selected {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-right: 0;
                }
            }

            &:nth-child(2),
            &:nth-child(4) {
                .select-selected {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            &:nth-child(5) {
                width: 100%;
            }
        }                
    }
}

@media (min-width: 768px) {
    .select-container {
        .custom-select-2 {
            width: 33.33%;

            &:nth-child(2) {
                .select-selected {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }

            &:nth-child(3) {
                .select-selected {
                    border-left: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    border-right: 1px solid #aec3d0;
                }
            }

            &:nth-child(4) {
                .select-selected {
                    border-right: 0;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    border-top-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }
            }

            &:nth-child(5) {
                width: 33.33%;
                .select-selected {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }            
        }
        .contact-btn {
            width: 172px;
            margin-left: auto;
        }
        .btn-container {
            display: flex;
        }
    }
}

@media (min-width: 992px) {
    .select-container {
        .selects {
            width: 75%;
            max-width: calc(210px * 5);
        }
        .custom-select-2 {
            width: calc(100% / 5);
            max-width: 209px;
            margin-bottom: 0;

            &:nth-child(4) {
                .select-selected {
                    border-left: 0;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }

            &:nth-child(5) {
                width: calc(100% / 5);
            }            
        }
    }
}

@media (min-width: 1200px) {
    .select-container {
        .container {
            display: flex;
            justify-content: space-between;
        }
        .contact-btn {
            margin-top: 0;
        }
    }
}

/* End Select Container */

/* Start Tabs Container */
.tabs-container {
    .nav-tabs {
        border-bottom: unset;
        .nav-link {
            border-color: transparent;
            border-bottom-color: #cde4f0;
            font-family: Roboto;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.54);
            padding: 16px 0;
            width: 50%;
            margin-bottom: 1px;

            &.active {
                border-bottom: 2px solid $blue;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.87);
            }

        }
    }
    .breadcrumbs {
        color: rgba(0, 0, 0, 0.54);
        margin-bottom: 5px;

        a {
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.54);

            &:not(:last-of-type) {
                margin-right: 5px;
            }
            &:last-of-type {
                margin-left: 5px;
            }
        }
        
    }
    .tab-content {
        padding: 40px 0;

        .title {
            text-align: center;
        }

        h2 {
            font-family: Roboto;
            font-size: 34px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #000000;
        }
        .buttons {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
            svg {
                &:hover {
                    path:first-of-type {
                        fill: darken($color: $blue, $amount: 20%)
                    }
                }
            }
        }
        .table {
            .thead-light {
                th {
                    background-color: $light-blue;
                    border-color: #cde4f0;
                }
            }
            td, th {
                border-top: 1px solid #cde4f0;
            }
            thead {
                border: 1px solid #cde4f0;
            }
            tbody {
                border: 1px solid #cde4f0;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
        }
    }
    .table-items {
        border-top: 1px solid #cde4f0;
        margin-top: 20px;
        padding: 24px 0;

        .form-control {
            height: 36px;
            border-color: #aec3d0;

            &:focus {
                box-shadow: unset;
                background-color: #eef6fc;
            }
        }

        .table-item {
            margin-bottom: 10px;

            .input-group-append {
                width: 36px;
                background-color: $blue;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border: none;
                outline: none;

                &:hover {
                    cursor: pointer;
                }

                svg {
                    width: 17px;
                    height: 17px;
                }
            }

            .title {
                font-family: "Roboto";
                margin-bottom: 5px;
                font-size: 14px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #2d4056;
            }
        }
    }
}
@media (min-width: 768px) {
    .tabs-container {
        .nav-tabs {
            .nav-link {
                width: 25%;  
            }
        }
        .tab-content {
            .title {
                text-align: left;
                display: flex;
                justify-content: space-between;
            }
        }
        .table-items {
            margin-top: 24px;
            display: flex;
            justify-content: space-between;
    
            .table-item {
                margin-bottom: 0;
                display: flex;
                align-items: center;

                .title {
                    margin-right: 15px;
                    margin-bottom: 0;
                }
            }

            .custom-select-2-full,
            input.form-control {
                width: 180px;
            }

            &.th-3 {
                flex-wrap: wrap;
                .table-item {
                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        margin-bottom: 15px;
                    }
                }
                .table-item,
                .btn-container {
                    width: 45%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .tabs-container {
        .nav-tabs {
            border-bottom: 1px solid #cde4f0;
            .nav-link {
                width: unset;
                margin-bottom: 0;
                border-bottom: 0;

                &:not(:last-of-type) {
                    margin-right: 27px;
                }
            }
        }
        .table-items {
    
            .table-item {
                margin-bottom: 0;
                display: flex;
                align-items: center;

                .title {
                    margin-right: 15px;
                }
            }

            .contact-btn {
                width: 172px;
                margin-left: auto;
            }

            .custom-select-2-full,
            input.form-control {
                width: 220px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .tabs-container {
        .nav-tabs {
            .nav-link {    
                &:not(:last-of-type) {
                    margin-right: 56px;
                }    
            }
        }
        .tab-content {
            padding: 45px 0;
        }

        .table-items {
    
            .table-item {
                justify-content: unset;
                .title {
                    margin-right: 16px;
                }

                &:first-of-type {
                    margin-right: 40px;
                }
            }
            
            .btn-container {
                margin-left: auto;
            }

            .custom-select-2-full,
            input.form-control {
                width: 246px;
            }

            &.th-3 {
                flex-wrap: wrap;
                .table-item {
                    &:nth-of-type(1),
                    &:nth-of-type(2) {
                        margin-bottom: 0;
                    }
                    &:first-of-type,
                    &:not(:last-of-type) {
                        margin-right: 20px;
                    }
                }
                .table-item,
                .btn-container {
                    width: unset;
                }
                .custom-select-2-full {
                    width: 165px;
                }                
            }
        }
    }

    .table-responsive {
        overflow-x: hidden;
    }
}

@media (min-width: 1440px) {
    .tabs-container {

        .table-items {

            &.th-3 {
                .custom-select-2-full {
                    width: 246px;
                }                
            }
        }
    }
}

@media (min-width: 1600px) {
    .tabs-container {
        .table-items {
            &.th-3 {
                .table-item {
                    &:first-of-type,
                    &:not(:last-of-type) {
                        margin-right: 40px;
                    }
                }              
            }
        }
    }
}

.datepicker-container {
    position: relative;
}

.datepicker {
    font-family: "Roboto", sans-serif;

    td, th {
        width: 2.25rem;
        height: 1.75rem;
        font-size: 0.85rem;
        line-height: 1.57;
    }
    .today {
        color: $blue;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
    }
    table tr td.active.active {
        border-radius: 2px;
        background-color: #298acf;
        color: white;
        background-image: unset;
    }

    > svg {
        position: absolute;
        right: 1rem;
        width: 14px;
        height: 16px;
        top: calc((36px - 14px) / 2)
    }
}

/* End Tabs Container */

/* Start Dashboard Footer */
.dashboard-footer {
    background-color: #f6f8f9;
    padding: 18px 0 12px 0;
    
    .container {
        flex-direction: column-reverse;
        display: flex;
    }

    .powered-by {
        justify-content: center;

        > div {
            margin-top: 0;
        }
    }

    .copyright {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1rem;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.54);
        margin-top: 10px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .dashboard-footer {
        
        .container {
            flex-direction: row;
            justify-content: space-between;
        }
    
        .powered-by {
            justify-content: center;
            > div {
                width: 136px;
            }
        }
    
        .copyright {
            margin-top: 0;
            text-align: left;
            display: flex;
            align-items: center;
        }
    }
}
td.details-control {
    cursor: pointer;
    &:after {
        content: '+';
        margin: auto;
        width: 15px;
        height: 15px;
        line-height: 15px;
        border-radius: 3px;
        border: solid 1px #979797;
        color: #1fabe1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
tr.shown td.details-control {
    &:after {
        content: '-';
        margin: auto;
        width: 15px;
        height: 15px;
        line-height: 15px;
        border-radius: 3px;
        border: solid 1px #979797;
        color: #1fabe1;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.dataTable {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: solid 1px #cde4f0;
    border-bottom-color: #cde4f0 !important;
    font-size: 12px;
    font-family: "Roboto";
    margin: 0;
    thead {
        th {
            background-color: $light-blue;
            border-color: #cde4f0;
            border-top: none;
        }
    }
    td, th {
        border-top: 1px solid #cde4f0;
    }
    thead {
        border: 1px solid #cde4f0;
    }
    tbody {
        border: 1px solid #cde4f0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        tr.odd {
            background-color: #fff !important;
        }
    }
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #cde4f0;
}
.trade-status {
    display: flex;
    align-items: center;
    .status {
        padding: 4px;
        border-radius: 100%;
        background-color: #c8c8c8;
        display: inline-block;
        margin-right: 8px;

        &.confirmed {
            background-color: #31cc7d;
        }
    }
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    display: flex;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        background-color: unset;
        border: unset;
        background: unset;
    }
}
.page-link {
    width: 20px;
    height: 20px;
    padding: 0;
    width: 100%;
    margin: 0;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.page-item {
    &.active {
        .page-link {
            color: rgba(0, 0, 0, 0.87);
            border: none;
            background-color: unset;
        }
    }
}

.dataTables_paginate {
    margin: 0;
    padding-top: 0 !important;

    .pagination {
        margin-bottom: 0;
    }
}

.expand-all {
    padding: 5px 8px 5px 30px;
    border-radius: 1px;
    border: solid 1px rgba(205, 228, 240, 0.6);
    font-family: Roboto;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: normal;

    .custom-control-label {
        &:before,
        &:after {
            left: 0.5rem;
        }
    }    
}

.dataTables_filter {
    display: none;
}

.dataTables_wrapper {
    .dataTables_info {
        padding-top: 0;
    }
    .row {
        &:last-of-type {
            margin: 0;
            padding: 10px 2rem 13px 2rem;
            border: solid 1px #cde4f0;
            border-top: none;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;

            select {
                width: 47px;
                height: 20px;
                padding: 0 0.25rem;
                border-radius: 0;
                border: solid 1px #cde4f0;
            }

            select, .pages {
                margin-left: 16px;
            }

            > div:first-of-type {
                width: 150px;
            }

            > div:last-of-type {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 600px !important;
            }
        }
    }
    .pages {
        font-family: Roboto;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87);
    }
}
/* End Dashboard Footer */

.red {
    color: #e33232;
}

form {
    .form-group {
        margin-bottom: 1.5rem;
    }
    .form-check-inline {
        margin-right: 47px;
        label {
            font-size: 16px;
        }
        .form-check-input {
            margin-right: 10px;
        }
    }
    .thin-font {
        label {
            font-weight: normal;
            font-size: 16px;
        }
        padding-left: 26px;
    }
    label {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        margin-bottom: 0.75rem;        
    }
    input.form-control {
        padding: 12px 20px 13px 20px;
        font-size: 14px;
    }
    select.form-control {
        height: 48px !important;
        padding: .375rem 1.25rem;
        -webkit-appearance: none;
        background: url(/img/select-arrow.svg) no-repeat calc(100% - 20px);
    }
    .button-container {
        justify-content: space-between;
        button {
            width: 48%;
        }
    }
}

.manage-traider {
    .traider-form {
        flex-direction: column-reverse;
    }
    .btn-container {
        margin: 0.75rem 0 1.25rem 0;
    }
}

@media (min-width: 768px) {
    .manage-traider {
        form {
            > div {
                &:first-of-type {
                    .form-group {
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .button-container {
                height: 68px;
                align-items: flex-end;
            }
        }
        .traider-form {
            flex-direction: unset;
        }
        .btn-container {
            margin: 0 0 0 auto;
            max-width: 173px;
        }
    }
}

@media (min-width: 1200px) {
    .manage-traider {
        form {
            .button-container {
                height: 53px;
            }
        }
    }
}